
@font-face {
  font-family: 'V-Regular';
  src: url('../fonts/volkorn/static/Vollkorn-Regular.ttf') format('embedded-opentype'), /* IE6-IE8 */
      
}
@font-face {
  font-family: 'V-Bold';
  src: url('../fonts/volkorn/static/Vollkorn-Bold.ttf') format('embedded-opentype'), /* IE6-IE8 */
      
}
@font-face {
  font-family: 'V-Italic';
  src: url('../fonts/volkorn/static/Vollkorn-Italic.ttf') format('embedded-opentype'), /* IE6-IE8 */
      
}